---
import { contentfulClient } from '../lib/contentful';
import type { TypeBlogPostSkeleton } from '../lib/contentful';

const entries = await contentfulClient.getEntries<TypeBlogPostSkeleton>({
  content_type: 'blogPost',
});

const posts = entries.items.map((item) => {
  const { title, date, description, slug, images } = item.fields;
  return {
    title,
    date,
    description,
    slug,
    images,
  };
});

const post = posts[0];
---

<html lang="en">
  <head>
    <title>My Blog</title>
  </head>
  <body>
    <h1>My Blog</h1>
    {
      posts.map((post) => (
        <li>
          <a href={`/posts/${post.slug}/`}>
            <h2>{post.title}</h2>
          </a>
          <p>{post.description}</p>
          {post.images &&
            post.images.map((image) =>
              'fields' in image && image?.fields?.file?.url ? (
                <img src={image.fields.file.url} />
              ) : null
            )}
        </li>
      ))
    }
  </body>
</html>
